.nav ul li{
    display: inline-block;
    padding: 15px;
    color: aliceblue;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: blue;
}
.nav img{
    padding-left: 25px;
    padding-top: 25px;
}
.nav h1{
    color: chartreuse;
}